<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-evenly center" fxLayoutGap="30px"
      fxLayoutGap.lt-md="0px" class="container">
  
      <div fxFlex=" calc(50% - 60px)" fxFlex.lt-md="100" class="h-center" [@slideFadeRight]>
        <img src="https://sass-lang.com/assets/img/illustrations/mouse-3f5cd091.svg" alt="" class="profile-picture">
        <h2 class="primary">FAOUZI Mouad</h2>
        <p class="secondary fs-20 fw-600">Full Stack JAVA Engineer & Mobile Developer.</p>
      </div>
  
  
      <div fxFlex=" calc(50% - 60px)" fxFlex.lt-md="100" class="px-1" [@slideFadeUp]>
        <p class="fs-20 fw-500 secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio qui laborum,
          nostrum aut quas odio explicabo sint et error assumenda molehehe for timmoc ic suscipit ex aliquam nesciunt
          molestias?
          et error assumenda molestiae in quae quis hic suscipit ex aliquam nesciunt molestias?
        </p>
      </div>
  </div>