<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-evenly center" fxLayoutGap="30px"
      fxLayoutGap.lt-md="0px" class="container">
      
      <div fxFlex=" calc(50% - 60px)" fxFlex.lt-md="100" class="h-center title-box hide-on-init" animateOnScroll  animationName="animate__animated animate__fadeInLeft">
        <img src="assets/img/profile-picture.png" alt="" class="profile-picture">
        <h2 class="primary fs-28 mt-3">FAOUZI Mouad</h2>
        <p class="secondary fs-20 fw-600 mt-1">Full Stack Softeware Engineer & Mobile Developer.</p>
      </div>
  
  
      <div fxFlex=" calc(50% - 60px)" fxFlex.lt-md="100" class="px-1 description-box hide-on-init" animateOnScroll  animationName="animate__animated animate__fadeInUp" >
        <p class="fs-20 fw-500 secondary">Analitical minded individual with strong English communication skills. My experience as a full stack developer enhaced my abilities in designing, implementing and testing along with developing friendly GUI.
          Quick learner with superior capacity of understanding new concept and applying them correctly. Eager to learn more and grow as a Softeware engineer.
        </p>
        <div class="btn-box" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
        
            <media-button [btnType]="'github'" [title]="'GitHub'" [iconName]="'github-white'" [btnUrl]="'https://github.com/Faouzii/'"></media-button>
            <media-button [btnType]="'stackoverflow'" [title]="'S.Overflow'" [iconName]="'stackoverflow-white'" [btnUrl]="'https://stackoverflow.com/users/10152355/faouzi'"></media-button>
            <media-button [btnType]="'linkedIn'" [title]="'LinkedIn'" [iconName]="'linkedin-white'" [btnUrl]="'https://linkedin.com/in/faouzi-mouad'"></media-button>
            <media-button [btnType]="'npm'" [title]="'NPM'" [iconName]="'npm-white'" [btnUrl]="'https://www.npmjs.com/~faouzii'"></media-button>
       </div>
      </div>
  </div>