<div class="footer" fxLayout="column wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap="30px"
    fxLayoutGap.lt-md="0px">
    <div fxFlex=" calc(33% - 30px)" fxFlex.lt-md="100" fxFlexAlign="center" fxFlexAlign.lt-md="center">
        <div class="created-box">
            <img class="created-logo" width="30"
                src="https://cdn4.iconfinder.com/data/icons/miu-flat-social/60/stackoverflow-512.png"
                alt="">
            <span class="created-text">Built by Faouzi with love</span>
        </div>
    </div>
    <div fxFlex=" calc(33% - 30px)" fxFlex.lt-md="100"  fxFlexAlign="center" fxLayoutAlign="end " fxLayoutAlign.lt-md="center "  fxFlexAlign.lt-md="center"   class="social-icons-box">
        <div *ngFor="let icon of socialContacts">
            <a [href]="icon.url" target="_blank">
                    <div class="social-icon-box">
                        <img class="social-icon" [src]="icon.footerIconUrl" alt="">
                    </div>
                </a>
          
        </div>
    </div>

    <div fxFlex=" calc(33% - 30px)" fxFlex.lt-md="100" fxFlexAlign="center" fxFlexAlign.lt-md="center">
        <p class="fw-500"> Faouzi Mouad © 2021</p>
    </div>
</div>