@import "./../../../theme/variables/colors.scss";

.footer{
    padding: 0;
    height: 30vh;
    background-color: $primary;
    color: white;
    
}

.created-box{
    margin-left: 25px;
}

.created-logo{
   transform: translateY(15%);
}

.created-text{
     transform: translateY(-50%);
     font-weight: 500;
     margin: 10px;
     display: inline-block;
 }

 .social-icon-box{
     margin: 0 20px 10px 0px;
 }
 .social-icon {
     width: 30px;
     margin: 2px;
 }

 @media only screen and (max-width: 959px) {
    .footer{
        padding: 0;
        height: 30vh;
    }
    .social-icon-box{
        margin: 0 0px 10px 0px;
    }
    .created-box{
        margin-top: 25px;
    }
}