@import "./../../../theme/variables/colors.scss";

.footer{
    padding: 0;
    height: 14vh;
    background-color: $primary;
    color: white;
}

.created-logo{
   transform: translateY(15%);
}

.created-text{
     transform: translateY(-50%);
     font-weight: 500;
     margin: 10px;
     display: inline-block;
 }

 .social-icon-box{
     margin: 0 20px 10px 0px;
 }
 .social-icon {
     width: 30px;
     margin: 2px;
 }