
//navbar css
a {
    text-decoration: none;
    color: white;
  }
  a:hover, a:active{
    color: lightgray;
  }
  .navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  mat-toolbar{
    border-radius: 3px;
  }
  @media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
  }
  
  .sticky {
    
    position: fixed;
    top: 0;
    width: 100%;
    animation: expand 2s;
    z-index: 9;
  
  }
  
  
  


mat-toolbar{
 border-radius: 0px;
}

.active {
  //border-bottom: 5px rgb(255, 255, 255) solid;
}

.container{
  //position: absolute;
}