@import "./../../../theme/abstracts/variables";


.box {
    overflow: hidden;
  }

  .project-logo{
    width: 30vw;
}

.project-title{
  font-size: 35px;
  font-weight: 600;
  text-align: left;
  color: $primary;
  margin-bottom: 7vh;
}

.google-play-logo{
  width: 180px;
}

@media only screen and (max-width: 600px) {
    .project-logo{
        width : 80vw
    }
    .project-title{
      font-size: 25px;
      font-weight: 500;
    }
  
}