<div *ngFor="let project of projects">
    <div #base flexLayout="row" fxLayout.lt-md="column" fxLayoutAlign="none center" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" class="my-3">
        <div *ngIf="!project.reveresed" fxFlex=" calc(40% - 40px)" fxFlex.lt-md="100" class="h-center hide-on-init" animateOnScroll  animationName="animate__animated animate__fadeInLeft">
            <p class="project-title" fxHide fxShow.lt-md="true" >{{project.title}}</p>
            <img [src]="project.logo" alt="" class="project-logo">
            <br><br>
            <a mat-button [href]="project.url" target="_blank"> 
                <img *ngIf="project.isMobileApp" src="assets/img/google-play.png" alt="" class="google-play-logo">
                <button *ngIf="project.isWebsite" mat-flat-button color="primary" class="sm-btn" >Check out !</button>

            </a>
        </div>

        <div *ngIf="project.reveresed" fxHide fxShow.lt-md="true" fxFlex=" calc(40% - 40px)" fxFlex.lt-md="100" class="h-center hide-on-init" animateOnScroll  animationName="animate__animated animate__fadeInRight">
            <p class="project-title"  >{{project.title}}</p>
            <img [src]="project.logo" alt="" class="project-logo"><br><br>
            <a mat-button [href]="project.url" target="_blank"> 
                <img *ngIf="project.isMobileApp" src="assets/img/google-play.png" alt="" class="google-play-logo">
                <button *ngIf="project.isWebsite" mat-flat-button color="primary" class="sm-btn" >Check out !</button>

            </a>
        </div>
    
        <div fxFlex="calc(60% - 40px)" fxFlex.lt-md="100" class="hide-on-init" animateOnScroll  animationName="animate__animated animate__fadeInUp">
            <p class="project-title" fxShow.lt-md="false" >{{project.title}}</p>
            <p class="secondary project-description"> {{project.description}}</p><br>
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                <mat-chip class="example-box" l *ngFor="let stack of project.stacks">
                    {{stack.name}}
                </mat-chip>
            </mat-chip-list>
        </div>

        <div *ngIf="project.reveresed" fxShow.lt-md="false" fxFlex=" calc(40% - 40px)" fxFlex.lt-md="100" class="h-center hide-on-init" animateOnScroll  animationName="animate__animated animate__fadeInLeft">
            <img [src]="project.logo" alt="" class="project-logo"><br><br>
            <a mat-button [href]="project.url" target="_blank"> 
                <img *ngIf="project.isMobileApp" src="assets/img/google-play.png" alt="" class="google-play-logo">
                <button *ngIf="project.isWebsite" mat-flat-button color="primary" class="sm-btn" >Check out !</button>

            </a>
        </div>
    </div>
    <br>

</div>

<!--

        <div fxFlex=" calc(40% - 40px)" fxFlex.lt-md="100" class="h-center">
        <img src="https://sass-lang.com/assets/img/illustrations/mouse-3f5cd091.svg" alt="" class="project-logo">
        <button mat-button> <img src="/assets/img/google-play.png" alt="" width="200"></button>
    </div>

    <div fxFlex="calc(60% - 40px)" fxFlex.lt-md="100" class="">
        <p class="project-title">MotivyMe : Self motivation </p>
        <p class="medium fs-18 "> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio quos
            explicabo,
            molestias quisquam quis illo ullam similique. Ipsum eos culpa eveniet harum cum,
            eum aperiam tempore quos, doloremque voluptatum quisquam!
        </p>
        <mat-chip-list class="example-chip mt-2" cdkDropList cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="drop($event)">
            <mat-chip class="example-box" l *ngFor="let stack of stacks">
                {{stack.name}}
            </mat-chip>
        </mat-chip-list>
    </div>




<div class="mt-5">
    <button mat-raised-button color="primary" (click)="toggleDisplay(target)">Show more</button>
</div>
<div #target class="box">
    <div @slideUpDown *ngIf="showMotivyMeDetails">
      
      
        <div flexLayout="column" fxLayout.lt-md="column" fxLayoutAlign="none center" fxLayoutGap="40px"
            fxLayoutGap.lt-md="0px" class="my-5">
            <button mat-raised-button color="primary" (click)="hide(base)">Hide</button>


            <div fxFlex=" calc(30% - 40px)" fxFlex.lt-md="100" class="h-center">
                <img src="https://sass-lang.com/assets/img/illustrations/mouse-3f5cd091.svg" alt="" width="340">
            </div>
            <div fxFlex=" calc(30% - 40px)" fxFlex.lt-md="100" class="h-center">
                <img src="https://sass-lang.com/assets/img/illustrations/mouse-3f5cd091.svg" alt="" width="340">
            </div>
            <div fxFlex=" calc(30% - 40px)" fxFlex.lt-md="100" class="h-center">
                <img src="https://sass-lang.com/assets/img/illustrations/mouse-3f5cd091.svg" alt="" width="340">
            </div>


        </div>
        <div flexLayout="column" fxLayout.lt-md="column" fxLayoutAlign="none center" fxLayoutGap="40px"
        fxLayoutGap.lt-md="0px" class="my-5">
        <button mat-raised-button color="primary" (click)="hide(base)">Hide</button>


        <div fxFlex=" calc(30% - 40px)" fxFlex.lt-md="100" class="h-center">
            <img src="https://sass-lang.com/assets/img/illustrations/mouse-3f5cd091.svg" alt="" width="340">
        </div>
        <div fxFlex=" calc(30% - 40px)" fxFlex.lt-md="100" class="h-center">
            <img src="https://sass-lang.com/assets/img/illustrations/mouse-3f5cd091.svg" alt="" width="340">
        </div>
        <div fxFlex=" calc(30% - 40px)" fxFlex.lt-md="100" class="h-center">
            <img src="https://sass-lang.com/assets/img/illustrations/mouse-3f5cd091.svg" alt="" width="340">
        </div>


    </div>
    </div>
</div>-->