<div flexLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-evenly center" fxLayoutGap="40px" fxLayoutGap.lt-md="0px">
    <div fxFlex=" calc(40% - 40px)" fxFlex.lt-md="100">

    </div>
    <div fxFlex=" calc(60% - 40px)" fxFlex.lt-md="100" class="h-center">
        <img src="https://sass-lang.com/assets/img/illustrations/mouse-3f5cd091.svg" alt="" width="300">
      <h2 class="primary">Lorem ipsum dolor </h2>
      <p class="secondary fs-20 fw-500">Lorem ipsum dolor aksoka aplko </p>
    </div>
</div>
