@import "./../../../theme/abstracts/variables";


.box {
    overflow: hidden;
  }

  .project-logo{
    width: 25vw;
}

.project-title{
  font-size: 35px;
  font-weight: 600;
  text-align: left;
  color: $primary;
  margin-bottom: 7vh;
}

.google-play-logo{
  width: 180px;
}

@media only screen and (max-width: 600px) {
    .project-logo{
        width : 75vw !important
    }
    .project-title{
      font-size: 21px;
      font-weight: 600;
      margin-top: 1vh;
      margin-bottom: 6vh;
      text-align: center;
    }
    .project-description{
      font-size: 16px;
      font-weight: 600;
      margin-top: 4vh;
    }
    .google-play-logo{
      width: 35vw;
    }
 }

 @media screen and (max-width: 959px) {
  .project-logo{
    width : 38vw
}
  .project-title{
    font-size: 22px;
    font-weight: 600;
    margin-top: 1vh;
    margin-bottom: 6vh;
    text-align: center;
  }
  .project-description{
    font-size: 16px;
    font-weight: 600;
    margin-top: 4vh;
  }
  .google-play-logo{
    width: 22vw;
  }
}