.primary-bg {
  background-color: $primary-bg;
}

.secondary-bg {
   background: $secondary-bg;
  }

.trinary-bg {
   background: $trinary-bg;
}

.transparent-bg{
  background: $transparent-bg;
}

.light-bg{
  background: $light-bg
}



