@import "abstracts/variables";

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
  }

.trinary {
  color: $trinary;
}

.light{
  color: $light
}
.dark {
  color : $dark;
}
.medium{
  color : $medium;
}
.info{
  color : $info;;
}

