@import "./../theme/variables/colors.scss";
@import "./../theme/colors.scss";

.main-section{
    height: 98vh;
    background-color: $primary-bg;

}

.section-a{
    background-color: $secondary-bg;
    padding: 5vh 10vw;
}

.section-b{
    background-color: $trinary-bg;
    padding: 5vh 10vw;
}

.main-flex-container{
 height: inherit ;
 padding: 8vh 5vw;
}




.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
    //background-color: $primary-bg;
}


.example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
