<section class="main-section">

  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <div class="h-center">
        <img src="https://sass-lang.com/assets/img/illustrations/mouse-3f5cd091.svg" alt="" width="380">
        <h2 class="primary">Lorem ipsum dolor </h2>
        <h4 class="secondary">Lorem ipsum dolor aksoka aplko </h4>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="p-1">
        <p class="fs-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio qui laborum, nostrum aut quas odio
          explicabo sint
          et error assumenda molestiae in quae quis hic suscipit ex aliquam nesciunt molestias?
        </p>
      </div>
      
    </mat-grid-tile>
  </mat-grid-list>



</section>

<section class="section-a">
  aaa
</section>

<section class="section-b">
  <h2 class="primary">Lorems</h2>

</section>

<section class="section-a">
  <h2 class="light">Ation</h2>
</section>