<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" fxHide fxShow.lt-sm="true">
    <button mat-button class="menu-button" pageScroll href="#main" (click)="sidenav.toggle()" [pageScrollOffset]="pageScrollOffset"  
    [ngClass]="{'active' : currentActive === 'about'}">
      <!--<mat-icon>Home</mat-icon>-->
      <span>About</span>
  </button>
  <mat-divider></mat-divider>

  <button mat-button class="menu-button" pageScroll href="#jobs" (click)="sidenav.toggle()" [pageScrollOffset]="pageScrollOffset"
  [ngClass]="{'active' : currentActive === 'jobs'}">
      <span>Experience</span>
  </button>
  <button mat-button class="menu-button" pageScroll href="#projects" (click)="sidenav.toggle()" [pageScrollOffset]="pageScrollOffset"
  [ngClass]="{'active' : currentActive === 'projects'}">
      <span>Personal Projects</span>
  </button>

  <button mat-button class="menu-button" pageScroll href="#skills" (click)="sidenav.toggle()" [pageScrollOffset]="pageScrollOffset"
  [ngClass]="{'active' : currentActive === 'skills'}">
    <span>Skills</span>
</button>

  <button mat-button class="menu-button" pageScroll href="#contact" (click)="sidenav.toggle()" [pageScrollOffset]="pageScrollOffset"
  [ngClass]="{'active' : currentActive === 'contact'}">
      <span>Contact</span>
  </button>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="mat-elevation-z8">
        <div (scroll)="onWindowScroll($event);">
          <section class="main-section" id="main">
           <div class="scroll-up-btn-box" id="scroll-up-container">
             <button pageScroll href="#main" mat-fab class="scroll-up-btn" aria-label="Example icon button with a bookmark icon">
               <mat-icon>arrow_upward</mat-icon>
             </button>
           </div>
         <!--            <div class="logo-box">
              <img src="../assets/img/logo.png" class="logo" alt="">
            </div>
         --> 
           <div class="heading-box">
             <h1 class="app-heading"  [@slideFadeUp]>
               <span class="app-heading-main">Hi, I'm Faouzi</span>
               <span class="app-heading-sub mt-2">I build web and mobile apps</span>
             </h1>
           </div>
           <div class="show-more-btn-box animate__animated animate__fadeIn " >
             <a class="fbtn-iconic" pageScroll href="#about">Show more   <mat-icon class="fbtn-icon">chevron_right</mat-icon>
               </a>
           </div>
           <div class="note-box animate__animated animate__fadeIn" >
             <span class="note-text" style="display: block;">( Please note that this version is still in developement )</span>
           </div>
            <br>
           </section>
           <header (sidenavToggle)="sidenav.toggle()" [currentActiveTab]="currentActive" [parentNavbarState]="navbarState"></header>
           
           <!--
             <app-test></app-test>
         -->
         <section class="skewed-section" #about id="about">
           <!--<div class="h-center">
             <h1 class="primary fs-40" fxShow.xs="false">About</h1>
           </div>
         -->
           <div>
             <about></about>
           </div>
         </section>
           <section class="section-a sections-padding" #jobs id="jobs">
             <div class="h-centere">
               <h1 class="primary fs-33 mb-4">Experience</h1>
             </div>
             <div>
               <jobs></jobs>
             </div>
           </section>
            
           <section class="section-b sections-padding" #projects id="projects">
             <div class="h-centere">
               <h1 class="primary fs-33 mb-5">Personal Projects</h1>
             </div>
             <div>
               <projects></projects>
             </div>    
           </section>
           <section class="section-a sections-padding" #skills id="skills">
             <div class="h-centere">
             <h2 class="primary fs-33 mb-4">Skills</h2>
           </div>
             <skills></skills>
           </section>
           <section class="section-b sections-padding" #contact id="contact">
             <div class="h-centere">
             <h2 class="primary fs-33 mb-4">Contact</h2>
           </div>
             <contact></contact>
           </section>
           <section>
             <footer></footer>
           </section>
         </div>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>


