mat-chip {
    padding: 0px 10px !important;
    font-size: 14.5px !important;
    font-weight: 500;
  }

@media only screen and (max-width: 600px) {
    mat-chip {
      padding: 0px 10px !important;
      font-size: 11.5px !important;
    }
} 