@import '~@angular/material/theming';
@include mat-core();


$primary : #3d5a80;
$secondary : #ffffff;
$trinary : #d9e8f8;

$info : #73ece6;
$light : #f5f7ea;
$dark : #ab73ec;
$medium : #8d8db9;



$primary-bg : rgba($primary, 0.5);
$secondary-bg: rgba($secondary, 0.8);
$trinary-bg : rgba($trinary, 0.8);
$transparent-bg: rgba(#dee3ec00, 0.8);
$light-bg: rgba($light, 0.8);
$medium-bg: rgba($medium, 0.8);




$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

//# 3d5a80 #98C1D9  #E0FBFC   #EE6C4D  #293241