$primary : #657fa7;
$secondary : #ffffff;
$trinary : #d9e8f8;

$info : #73ece6;
$light : #f5f7ea;
$dark : #ab73ec;
$medium : #5656ff;



$primary-bg : rgba($primary, 0.5);
$secondary-bg: rgba($secondary, 0.8);
$trinary-bg : rgba($trinary, 0.8);
$transparent-bg: rgba(#dee3ec00, 0.8);
$light-bg: rgba($light, 0.8);

