<div flexLayout="row" fxLayout.lt-md="column" fxLayoutAlign="none center" fxLayoutGap="40px" fxLayoutGap.lt-md="0px"
  class="my-5">

  <div fxFlex="calc(55% - 40px)" fxFlex.lt-md="100" class="">
    <p class="project-title">The Tech Stack I'm using during my day-to-day developement life</p>
    <p class="secondary fs-22 fw-500">A reactive and dynamic content is comming soon !</p>

  </div>

  <div fxFlex="calc(45% )" fxFlex.lt-md="100" id="tagcloud">
    <ul>
      <li ><span class="fs-23">Angular</span></li>
      <li ><span class="fs-13">NPM</span></li>
      <li ><span class="fs-13">Node</span></li>
      <li ><span class="fs-13">Hibernate</span></li>
      <li ><span class="fs-17">SCSS</span></li>
      <li><span class="fs-13">JavaScript</span></li>
      <li><span class="fs-14">Ionic 5</span></li>
      <li><span class="fs-14">Bootstrap</span></li>
      <li><span class="fs-12">Jasper Report</span></li>
      <li><span class="fs-12">Jersey 2</span></li>
      <li><span class="fs-17">PrimeNg</span></li>
      <li ><span class="fs-16">JWT</span></li>
      <li ><span class="fs-14">JPA</span></li>
      <li> <span class="fs-13">MySQL</span></li>
      <li><span class="fs-15">Spring REST</span></li>
      <li><span class="fs-11">SOAP</span></li>
      <li><span class="fs-18">Spring boot</span></li>

      <li > <span class="fs-18">JSON</span></li>
      <li><span class="fs-13">Jackson</span></li>
      <li ><span class="fs-14">Spring Date</span></li>
      <li><span class="fs-11">HTML</span></li>
      <li><span class="fs-13">JSP</span></li>
      <li> <span class="fs-11">XML</span> </li>
      <li><span class="fs-14">Heroku</span></li>
      <li ><span class="fs-23">JAVA</span></li>
      <li><span class="fs-15">Typescript</span></li>
      <li><span class="fs-16">jQuery</span></li>
      <li><span class="fs-14">PostgreSQL</span></li>
      <li><span class="fs-13">SQL Server</span></li>
      <li ><span class="fs-14">Tomcat</span></li>
      <li><span class="fs-14">Spring MVC</span></li>
      <li ><span class="fs-22">REST</span></li>

      <li><span class="fs-13">Struts 2</span></li>
      <li><span class="fs-16">PostMan</span></li>
      <li><span class="fs-13">Angular Material</span></li>
      <li><span class="fs-18">Flexbox</span></li>
      <li><span class="fs-15">CSS 3</span></li>
      <li><span class="fs-14">One Signal</span></li>
      <li><span class="fs-13">AJAX</span></li>

    </ul>
  </div>
</div>