<div  flexLayout="row" fxLayout.lt-md="column" fxLayoutAlign="none center" fxLayoutGap="40px" fxLayoutGap.lt-md="0px" class="my-5">
   
    <div fxFlex="calc(55% - 40px)" fxFlex.lt-md="100" class="">
        <p class="project-title">test</p>
        <p class="secondary fs-22"> ss</p>
       
    </div>

    <div   fxFlex="calc(45% )" fxFlex.lt-md="100"  id="tagcloud">
        <ul>
            <li><a href="#" class="fs-23">Angular</a></li>
            <li><a href="#" class="fs-20">NPM</a></li>
            <li><a href="#" class="fs-18">Node</a></li>
            <li><a href="#" class="fs-19">Hibernate</a></li>
            <li><a href="#" class="fs-19">SCSS</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Ionic 5</a></li>
            <li><a href="#">Bootstrap</a></li>
            <li><a href="#">Jasper Report</a></li>
            <li><a href="#">Jersey 2</a></li>
            <li><a href="#">PrimeNg</a></li>
            <li><a href="#" class="fs-22">JWT</a></li>
            <li><a href="#" class="fs-19">JPA</a></li>
            <li><a href="#">MySQL</a></li>
            <li><a href="#" >Spring REST</a></li>
            <li><a href="#">SOAP</a></li>
            <li><a href="#" class="fs-19">Spring boot</a></li>

          <li><a href="#"  class="fs-21">JSON</a></li>
            <li><a href="#">Jackson</a></li>
            <li><a href="#"  class="fs-19">Spring Data</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">JSP</a></li>
            <li><a href="#">XML</a></li>
            <li><a href="#" class="fs-18">Heroku</a></li>
            <li><a href="#" class="fs-23">JAVA</a></li>
            <li><a href="#">Typescript</a></li>
            <li><a href="#">jQuery</a></li>
            <li><a href="#">PostgreSQL</a></li>
            <li><a href="#">SQL Server</a></li>
            <li><a href="#"  class="fs-19">Tomcat</a></li>
            <li><a href="#">Spring MVC</a></li>
          
          <li><a href="#">Struts 2</a></li>
            <li><a href="#">PostMan</a></li>
            <li><a href="#">Angular Material</a></li>
            <li><a href="#">Flexbox</a></li>
            <li><a href="#">CSS 3</a></li>
            <li><a href="#">One Signal</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">anorthophyre</a></li>
            <li><a href="#">tram</a></li>
            <li><a href="#">democratian</a></li>
            <li><a href="#">ungovernedness</a></li>
            <li><a href="#">anaesthesia</a></li>
            <li><a href="#">Eutychian</a></li>
            
        </ul>
    </div>
</div>




 
 
