<div flexLayout="row" fxLayout.lt-md="column" fxLayoutAlign="none center" fxLayoutGap="40px" fxLayoutGap.lt-md="0px"
  class="my-5">

  <div fxFlex="calc(55% - 40px)" fxFlex.lt-md="100" class="">
    <p class="project-title">test</p>
    <p class="secondary fs-22"> ss</p>

  </div>

  <div fxFlex="calc(45% )" fxFlex.lt-md="100" id="tagcloud">
    <ul>
      <li class="fs-23">Angular</li>
      <li class="fs-20">NPM</li>
      <li class="fs-18">Node</li>
      <li class="fs-19">Hibernate</li>
      <li class="fs-19">SCSS</li>
      <li>JavaScript</li>
      <li>Ionic 5</li>
      <li>Bootstrap</li>
      <li>Jasper Report</li>
      <li>Jersey 2</li>
      <li>PrimeNg</li>
      <li class="fs-22">JWT</li>
      <li class="fs-19">JPA</li>
      <li> MySQL</li>
      <li>Spring REST</li>
      <li>SOAP</li>
      <li class="fs-19">Spring boot</li>

      <li class="fs-21">JSON</li>
      <li>Jackson</li>
      <li class="fs-19">Spring Data</li>
      <li>HTML</li>
      <li>JSP</li>
      <li>XML</li>
      <li class="fs-18">Heroku</li>
      <li class="fs-23">JAVA</li>
      <li>Typescript</li>
      <li>jQuery</li>
      <li>PostgreSQL</li>
      <li>SQL Server</li>
      <li class="fs-19">Tomcat</li>
      <li>Spring MVC</li>

      <li>Struts 2</li>
      <li>PostMan</li>
      <li>Angular Material</li>
      <li>Flexbox</li>
      <li>CSS 3</li>
      <li>One Signal</li>
      <li>HTML</li>
      <li>AJAX</li>



    </ul>
  </div>
</div>