@import "./../../../theme/abstracts/variables";

.skew-container {
    border: solid;
    background: linear-gradient(100deg, rgb(224, 224, 255) 49.75%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) calc(50% + 3px), rgb(206, 243, 206) calc(50% + 4px));
    display: flex;
    margin:1em;
  }
  
  .skew-container div {
    padding: 1em 2%;
    flex:1;
    color:white;
  }

  ul {
    li {
     
        color: $primary;
      
    }
  }


  .skills-description{
    color: $primary;
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 10vh;
  }

@media only screen and (max-width: 600px) {
    .skills-description{
      font-size: 16px !important;
      font-weight: 700;
    }
 }

 @media screen and (max-width: 959px) {
  .skills-description{
    font-weight: 500px;
    font-size: 21px;
  }
}
