/* You can add global styles to this file, and also import other style files */

@import "./theme/abstracts/variables";
@import "./theme/colors.scss";
@import "./theme/background.scss";
@import "./theme/positions.scss";
@import "./theme/font-styles.scss";
@import "./theme/margin-padding.scss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 /* Rules for sizing the icon. */
 .material-icons.md-18 { font-size: 18px; }
 .material-icons.md-24 { font-size: 24px; }
 .material-icons.md-36 { font-size: 36px; }
 .material-icons.md-48 { font-size: 48px; }
 
 /* Rules for using icons as black on a light background. */
 .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
 .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
 
 /* Rules for using icons as white on a dark background. */
 .material-icons.md-light { color: rgba(255, 255, 255, 1); }
 .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


 .mat-vertical-content{
    padding-bottom: 0px !important;
}

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1,h2,h3,h4,h5{
        font-size: 1.0em;
    } 
    .mat-vertical-stepper-header{
        padding : 20px 5px !important;
    }
    .mat-vertical-content-container{
        margin-left: 18px !important;
    }
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}



  
  